.form {
    margin: 10px auto 30px ;
    padding-left: 3px;
}

.form input {
    padding: 5px 10px;
    border: none;
    outline: none;
    transition: border .4s ease;
    border: 1px solid transparent;
    margin-right: 8px; 
} 

.form input:focus {
    border: 2px solid lightblue;
}
.button {
    display: block;
    padding: 6px 40px;
    border: none;
    outline: none;
    transition: all 0.4s ease;
    cursor: pointer;
    margin-top: 8px;
}
.button:hover{
    background-color: #bcd1e6;
}